form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 32px;
}

mat-form-field {
	width: 40%;
	min-width: 250px;
	max-width: 400px;
	margin-bottom: 16px;
}

mat-checkbox {
	margin-bottom: 16px;
}
mat-card-title {
	color: #333333 !important;
}
