html, body {
	min-height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f5f5dc;
}

.main-content-bg {
	background: #faf9f6;
	min-height: 100vh;
}

.sidebar {
	background: #e6dec3 !important;
	color: #333;
}

.navbar {
	background: #e6dec3 !important;
	color: #333;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
